*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}


.principale{
   background-color: red;
   
}

.button{
    background-color: aquamarine;
    font-size: 20px;
    border-radius: 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.button-2{
    background-color: aquamarine;
    font-size: 20px;
    border-radius: 10px;
}
.button-3{
     background-color: aquamarine;
    font-size: 20px;
    border-radius: 10px;
}
.header{
    background-color: red;
}
.header-title{
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}